.black{
    background-color: black;
    color: white;   
}
.brown{
    background-color: brown;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
    color: white;
}
.violet{
    background-color: violet;
}
.grey{
    background-color: grey;
}
.white{
    background-color: white;
}
.gold{
    background-color: gold;
}
.silver{
    background-color: silver;
}